.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__list {
    display: flex;
}

.benefits-article {
    width: 270px;
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
}

.benefits-article__meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;
    background-color: $team-backgound-color;
}


.benefits-article__subtitle {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $title-text-color;

}

.benefits-article__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}