.hero-button {

    padding: 10px 32px;
    color: $accent-test-color;
    background: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    transition: background-color $transform;
    &:hover, &:focus {
        background-color: $hero-buton-hover;
    }
}

