/* соц. сети */
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: $icon-orignal-color;
    background-color: $primary-backgound-color;
    border-radius: 50%;
    transition: background-color $transform,
        fill $transform;
        &:hover, &:focus {
            background-color: $accent-color;
            fill: $accent-test-color;
        }
}

.social-list__item:not(:last-child) {
    margin-right: 10px;}