/* clients */
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__list {
    display: flex;
}

.trademark:not(:last-child) {
    margin-right: 30px;
}

.trademark__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: var(--icon-orignal-color);
    border: 1px solid var(--icon-orignal-color);
    border-radius: 4px;
    transition:
        fill var(--transform),
        border var(--transform);
        &:hover,
            &:focus {
                fill: var(--accent-color);
                border-color: var(--accent-color);
            }
}


